{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <a href="{{url_for('character_index')}}">Back to List</a>
  </div>
  <div class="row">
    <a class="btn-primary" href="{{url_for('character_edit', char_id=character.id)}}">edit</a>
  </div>
  <div class="row">
    {% if show_all_skills %}
      <a href="{{url_for('character_display', char_id=character.id)}}">Show only non-zero skills</a>
    {% else %}
      <a href="{{url_for('character_display', char_id=character.id, showAll=True)}}">Show all Skills</a>
    {% endif %}
  </div>
  <div class="row">
    <h2>{{character.name}}</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <span>Role: <strong>{{character.role}}</strong>
    </div>
        {% for attr in character.attributes.items() %}
          <div class="col-md-1">
            {{attr[0]}}: {{attr[1].value}}
          </div>
        {% endfor %}
  </div>
  <div class="row">
    <div id="skill-box">
      <div class="row">
        {% set skill_items = character.skills + character.attributes|length %}
        {% set skill_items = skill_items + skill_items%3 %}
        {% set column_size = skill_items/3 %}
        {% set current_row = [0] %}
        {% set new_column %}
        </div>
        <div class="col-md-4">
        {% endset%}
        <div class="col-md-4">
            {% for attr in character.attributes.items() if attr[1].skills|length > 0 %}
              <h5>{{attr[0]}}</h5>
              {# need a counter that gets into scope #}
              {% if current_row.append(current_row.pop() + 1) %}{% endif %}
              {% if current_row[0] is divisibleby column_size%}{{new_column|safe}}{% endif %}
              <ul>
              {% for skill in attr[1].skills %}
                <li>{{skill.name|e}}: {{skill.value|e}}</li>
                {% if current_row.append(current_row.pop() + 1) %}{% endif %}
                {% if current_row[0] is divisibleby(column_size) and current_row[0] is not equalto(skill_items) %}</ul>{{new_column|safe}}<ul>{% endif %}
              {% endfor %}
            </ul>
            {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
