{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <a href="{{url_for('character_index')}}">Back to List</a>
  </div>
  <div class="row">
    <a class="btn-primary" href="{{url_for('character_edit', char_id=character.id)}}">edit</a>
  </div>
  <div class="row">
    <h2>{{character.name}}</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <span>Role: <strong>{{character.role}}</strong>
    </div>
      {% if character.attributes %}
        {% for name,value in character.attributes.items() %}
          <div class="col-md-1">
            {{name}}: {{value}}
          </div>
        {% endfor %}
      {% endif %}
  </div>
  <div class="row">
    <div id="skill-box">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
            <li>Skills</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
