body{
  background: #000;
  width: 100%;
}
.navbar{
  border-radius: 0;
  border-top: solid thin #aaaaaa;
  border-bottom: solid thin #aaaaaa;
}
#title{
  color: #ccc;
  font-family: Anton
}
#login-text{
  margin-right: 2%;
  margin-bottom: .2em;
}
.error{
  color: red;
}

.content{
  color: green;
}

#new-char{
  background-color: #00ff00;
}

#error{
  display: none;
  color: #000;
  background-color: #ec3333;
  text-align:left;
}

#new-char{
  color: #000;
}

#char-edit input{
  border: 0;
  background: 0;
  color: #fff
}

#skill-box{
  padding: 2%;
  border: solid #fff;
}
