body{
  background: black;
}

.navbar{
  border-top: solid thin #aaaaaa;
  border-bottom: solid thin #aaaaaa;
}

.container{
  padding-top: 50px;
}

#title{
  color: #cccccc;
  font-family: Anton
}

#login-text{
  padding-left: 8px;
}
