{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row center-block">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <h2>Register</h2>
      </div>
      <div class="row">
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
          <div id="error" class="alert alert-danger"></div>
      </div>
      <div class="row">
        <form id="signup-form" method="post" action="/signup/">
          {% import 'forms.html' as forms %}
          {% for field in form %}
            {{ forms.render_field(field) }}
          {% endfor %}
          <button class="btn" onclick="register(); return false">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='js/register.js')}}"></script>
{% endblock %}
